<div class="row tracklisting">
    <ul>
      <li *ngFor='let each of albumInfo?.album.tracks'>
        <div class="col-sm-5">
          <span class="track-number">{{each.trackNumber}}</span>
          <span class="track-name">{{each.trackName}}</span>
        </div>
        <div class="col-sm-3 text-right">
          <span class="track-time">{{each.trackLength}}</span>
          <span class="price-and-buy"><button>{{each.trackPrice}}</button></span>
        </div>
      </li>
    </ul>
  </div>